= form_for @huozhan do |f|
  - if @huozhan.errors.any?
    #error_explanation
      %h2= "#{pluralize(@huozhan.errors.count, "error")} prohibited this huozhan from being saved:"
      %ul
        - @huozhan.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :huozhan_name
    = f.text_field :huozhan_name
  .field
    = f.label :huozhan_address
    = f.text_field :huozhan_address
  .field
    = f.label :huozhan_tel
    = f.text_field :huozhan_tel
  .actions
    = f.submit 'Save'
