= form_for [:admin, @location], :class => "form form-horizontal" do |f|
  - if @location.errors.any?
    #error_explanation
      %h2= "#{pluralize(@location.errors.count, "error")} prohibited this location from being saved:"
      %ul
        - @location.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    .control-lable
      = f.label "地点"
    .controls
      = f.text_field :name
  .field
    = f.label :fuzeren
    = f.text_field :fuzeren
  .field
    = f.label :fuzeren_mobile
    = f.text_field :fuzeren_mobile
  .field
    = f.label :fuzeren_address
    = f.text_field :fuzeren_address
  .actions
    = f.submit '保存', :class => "btn btn-primary"
    = link_to "返回", admin_locations_path, :class => "btn"
