= form_for @cargo do |f|
  - if @cargo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@cargo.errors.count, "error")} prohibited this cargo from being saved:"
      %ul
        - @cargo.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :serial_num
    = f.text_field :serial_num
  .field
    = f.label :form_huozhan_id
    = f.number_field :form_huozhan_id
  .field
    = f.label :to_huozhan_id
    = f.number_field :to_huozhan_id
  .field
    = f.label :from_huozhan_name
    = f.text_field :from_huozhan_name
  .field
    = f.label :to_huozhan_name
    = f.text_field :to_huozhan_name
  .field
    = f.label :huoyun_route_id
    = f.number_field :huoyun_route_id
  .actions
    = f.submit 'Save'
