= form_for @cargo, :url => @cargo.persisted? ? edit_admin_cargo_out_path(@cargo) : admin_cargo_outs_path do |f|
  - huoyun_routes = HuoyunRoute.where(:from_huozhan_id => current_user.huozhan.id).collect{|h| ["#{h.from_huozhan.huozhan_name}-#{h.to_huozhan.huozhan_name}", h.id] }

  = control_group_helper "目的地", "选择目的地", f.object.errors[:huoyun_route_id].first do
    = f.select :huoyun_route_id, options_for_select(huoyun_routes, @cargo.huoyun_route_id), :id => "to"
  = control_group_helper "批次号码", "系统自动生成", f.object.errors[:serial_num].first do
    = f.text_field :serial_num,  :class => "input-xxlarge", :disabled => true
  = control_group_helper "车牌照", "例如： 京A000123", f.object.errors[:paizhao].first do
    = f.text_field :paizhao, :class => "input-xxlarge"
  = control_group_helper "司机姓名", "随车司机姓名", f.object.errors[:siji].first do
    = f.text_field :siji, :class => "input-xxlarge"
  = control_group_helper "随车电话", "随车电话", f.object.errors[:tel].first do
    = f.text_field :tel, :class => "input-xxlarge"

  .actions
    = f.submit '保存', :class => "btn btn-primary"

#shippings


