%table.table.table-bordered
  %thead
    %th 单号
    %th 发货地址
    %th 发货人
    %th 收货人
    %th 货物
    %th 数量
    %th 运费
    %th 保值
    %th 保值费
    %th 代收货款
    %th 代收货款费
    %th 收件人签字

  - @shippings.each do |shipping|
    %tr
      %td= link_to shipping.serial_num, edit_admin_ship_out_path(shipping)
      %td= shipping.from_huozhan.huozhan_name
      %td= "#{shipping.sender_name} #{shipping.sender_tel}"
      %td= "#{shipping.receiver_name} #{shipping.receiver_tel}"
      %td= shipping.huowu_name
      %td= "#{shipping.huowu_amount}#{shipping.huowu_danwei}"
      %td= "#{shipping.fee}(#{boolean_helper shipping.is_paid})"
      %td= shipping.huowu_baozhi
      %td= "#{shipping.baozhi_fee} (#{boolean_helper shipping.is_paid})"
      %td= shipping.daishouhuokuan_amount
      %td= "#{shipping.daishouhuokuan_fee} (#{boolean_helper shipping.is_daishouhuokuan})"
      %td


