= form_tag admin_ship_outs_path, :class => "form form-horizontal well", :method => :get  do
  = search_control_group_helper("收货站") do
    = select_tag "search[to]", options_from_collection_for_select(Huozhan.all, "huozhan_name", "huozhan_name", params["search"].fetch("to", "")), :include_blank => true
  = search_control_group_helper("发货人") do
    = text_field_tag "search[sender_name]", (params["search"].fetch("sender_name", "")), :class => "input-large"

  = search_control_group_helper("发货人电话") do
    = text_field_tag "search[sender_tel]", (params["search"].fetch("sender_tel", "")), :class => "input-large"
  #search_form.hide
    = search_control_group_helper("收货人") do
      = text_field_tag "search[receiver_name]", (params["search"].fetch("receiver_name", "")), :class => "input-large"
    = search_control_group_helper("收货人电话") do
      = text_field_tag "search[receiver_tel]", (params["search"].fetch("receiver_tel", "")), :class => "input-large"

    = search_control_group_helper("时间") do
      = text_field_tag "search[start_at]", (params["search"].fetch("start_at", "2012-01-01")), :class => "input-small date"
      = text_field_tag "search[end_at]", (params["search"].fetch("end_at", "2020-01-01")), :class => "input-small date"

    = search_control_group_helper("货物状态") do
      = select_tag "search[status]", options_for_select(Shipping::STATUS, params["search"].fetch("status", "")), :include_blank => true
  %hr
  .actions{:style => "text-align:center"}
    =  submit_tag "搜索", :class => "btn btn-primary"

  #search_form_swicher{:style => "text-align:right; margin-top: -20px"}
    = link_to icon_link("arrow-down"), "javascript:slidedown();", :id => "up"
    = link_to icon_link("arrow-up"), "javascript:slideup();", :id => "down", :class => "hide"


%legend 
  货件列表
  %span.pull-right
    = link_to icon_link(:plus) + "  收件", new_admin_ship_out_path


%table.table.table-stripped
  %thead
    %th 单号
    %th 收货地址
    %th 发货人
    %th 收货人
    %th 货物
    %th 数量
    %th 运费
    %th 保值
    %th 保值费
    %th 代收货款
    %th 代收货款费
    %th 状态
    %th

  - @shippings.each do |shipping|
    %tr
      %td= link_to shipping.serial_num, edit_admin_ship_out_path(shipping)
      %td= shipping.to_huozhan.huozhan_name
      %td= "#{shipping.sender_name} #{shipping.sender_tel}"
      %td= "#{shipping.receiver_name} #{shipping.receiver_tel}"
      %td= shipping.huowu_name
      %td= "#{shipping.huowu_amount}#{shipping.huowu_danwei}"
      %td= "#{shipping.fee}(#{boolean_helper shipping.is_paid})"
      %td= shipping.huowu_baozhi
      %td= "#{shipping.baozhi_fee} (#{boolean_helper shipping.is_paid})"
      %td= shipping.daishouhuokuan_amount
      %td= "#{shipping.daishouhuokuan_fee} (#{boolean_helper shipping.is_daishouhuokuan_fee_paid && shipping.daishouhuokuan_amount > 0})"
      %td= status_in_word shipping
      %td
        = link_to icon_link(:search), edit_admin_ship_out_path(shipping)
        = link_to icon_link(:print), print_admin_ship_out_path(shipping), :target => "_blank"


= paginate @shippings
