= form_for [:admin, @passenger_record], :url => admin_passenger_record_path(@passenger_record) do |f|

  %table.table.table-bordered
    %tr
      %th 1
      %th 2
      %th 3
      %th 4

    - @passenger_record.passenger_record_details.go.each_with_index do |grd, index|
      %tr
        %td.location_name= grd.location_name
        %td.passenger_record_input= text_field_tag "count[][#{grd.id}]", "#{grd.passenger_count || 0}", :class => ""
        %td.location_name= (grdr = @passenger_record.passenger_record_details.back[index]).location_name
        %td.passenger_record_input= text_field_tag "count[][#{grdr.id}]", "#{grdr.passenger_count || 0}", :class => ""


  .actions
    = f.submit '保存', :class => "btn btn-primary"
