%legend 
  物流线路
  %span.pull-right
    = link_to icon_link(:plus) + "  新线路", new_admin_huoyun_route_path

%table.table.table-stripped
  %tr
    %th 发站
    %th 收站
    %th 开车时间
    %th 到站时间
    %th

  - @huoyun_routes.each do |huoyun_route|
    %tr
      %td= huoyun_route.form_huozhan.name
      %td= huoyun_route.to_huozhan.name
      %td= huoyun_route.fahuo_time.to_s(:simple)
      %td= huoyun_route.daohuo_time.to_s(:simple)
 

= paginate @huoyun_routes
