= form_for @balance, :url => admin_in_balances_path, :class => "form form-horizontal" do |f|
  = hidden_field_tag "balance[cate]", "in"
  = hidden_field_tag "balance[user_id]", current_user.id
  - if current_user.location
    = hidden_field_tag "balance[location_id]", current_user.location.id
  = control_group_helper "客车牌照", "支出用于车辆，例如： 京A000123", f.object.errors[:paizhao].first do
    = f.select :paizhao, options_from_collection_for_select(@routes, "paizhao", "paizhao", @balance.paizhao)

  = control_group_helper "来源", "例如： 结算单，货物运输，散客", f.object.errors[:reason].first do
    = f.select :reason, options_from_collection_for_select(Reason.in.all, "reason", "reason", @balance.reason)

  = control_group_helper "金额", "必须是数字，例如： 100, 888", f.object.errors[:amount].first do
    = f.text_field :amount, :class => "input-xxlarge"

  = control_group_helper "补充说明", "支出的补充说明", f.object.errors[:desc].first do
    = f.text_field :desc, :class => "input-xxlarge"

  .actions
    = f.submit '保存', :class => "btn btn-primary"
    = link_to "返回", admin_balances_path, :class => "btn"
