= form_for @balance, :url => @balance.persisted? ? admin_in_balance_path(@balance) : admin_in_balances_path, 
  :class => "form form-horizontal", :method => @balance.persisted? ? :put : :post do |f|
  = hidden_field_tag "balance[cate]", "in"
  = hidden_field_tag "balance[user_id]", current_user.id
  - if current_user.locations.exists?
    = control_group_helper "收入地点", "收入地点", f.object.errors[:location_id].first do
      = f.select :location_id, options_from_collection_for_select(current_user.locations, "id", "name", @balance.location_id)
  = control_group_helper "客车牌照", "例如： 京A000123", f.object.errors[:paizhao].first do
    = f.select :paizhao, options_from_collection_for_select(@routes, "paizhao", "paizhao", @balance.paizhao)

  = control_group_helper "日期", "发生时间，选择非手填", f.object.errors[:balance_date].first do
    = f.text_field :balance_date, :class => "input-large date"

  %table.table.table-stripped.table-condensed
    %thead
      %tr
        %th 收入来源
        %th 详细
        %th 金额
        %th

    %tbody
      = f.fields_for :balance_details do |bd|
        %tr.bd{"data-bd_id" => bd.object.id || 0, "data-balance_id" => @balance.id || 0}
          %td.span3
            = bd.select :reason, options_from_collection_for_select(Reason.in.all, "reason", "reason", bd.object.reason), {}, :class => "balance_reason input-small"

          %td.detail_reason.span3
            - reason = Reason.find_by_reason bd.object.reason
            - if reason && reason.details.present?
              = bd.select :detail_reason, options_for_select(reason.details.split(",")), {}, :class => "input-small"
            - else
              = bd.select :detail_reason, options_for_select([]), {}, :class => "input-small"

          %td.span2
            = bd.text_field :amount, :class=> "normal_text"
            元

          %td.span2
            = link_to "X", "#", :class => "btn btn-danger remove_balance_detail_link"

  %hr
  = link_to "增加项", "#", :class => "btn btn-danger pull-right", :id => "add_balance_detail"
  - if current_user.auditor? && @balance.persisted?
    = link_to icon_link(:search), audit_admin_balance_path(@balance), :method => :put




  = control_group_helper "补充说明", "补充说明", f.object.errors[:desc].first do
    = f.text_field :desc, :class => "input-xxlarge"

  .actions
    = f.submit '保存', :class => "btn btn-primary"
    = link_to "返回", admin_in_balances_path, :class => "btn"
