= render :partial => "admin/widgets/balance_search", :locals => { :path => admin_in_balances_path, :reasons => Reason.in }

%legend 
  收入列表
  - if current_user.agent?
    %span.pull-right
      = link_to icon_link(:plus) + "  新收入", new_admin_in_balance_path


%table.table.table-stripped
  %thead
    %th 车牌
    %th 来源
    %th 金额
    %th 经手人
    %th 地点
    %th 时间
    %th

  - @balances.each do |balance|
    %tr
      %td= balance.paizhao
      %td= balance.reason
      %td= balance.amount
      %td= balance.user.name
      %td= balance.location.name
      %td= balance.created_at.to_s(:human_zh)
      %td
        = link_to icon_link(:search), edit_admin_in_balance_path(balance)


= paginate @balances
