= render :partial => "admin/widgets/configuration_tab_bar", :locals => { :current_tab => "reasons" }
= form_for [:admin, @reason], :class => "form form-horizontal" do |f|
  = hidden_field_tag "reason[cate]", "in"
  = control_group_helper "来源", "例如: 结算单，货物运输，散客", f.object.errors[:reason].first do
    = f.text_field :reason, :class => "input-xxlarge"

  .actions
    = f.submit '保存', :class => "btn btn-primary"
    = link_to "返回", admin_reasons_path, :class => "btn btn-primary"
