= form_for [:admin, @balance], :class => "form form-horizontal" do |f|
  = hidden_field_tag "balance[cate]", "out"
  = hidden_field_tag "balance[user_id]", current_user.id
  - if current_user.locations.exists?
    = control_group_helper "支出地点", "支出地点", f.object.errors[:location_id].first do
      = f.select :location_id, options_from_collection_for_select(current_user.locations, "id", "name", @balance.location_id)
  = control_group_helper "客车牌照", "支出用于车辆，例如： 京A000123", f.object.errors[:paizhao].first do
    = f.select :paizhao, options_from_collection_for_select(@routes, "paizhao", "paizhao", @balance.paizhao)

  = control_group_helper "支出原因", "支出的原因，例如： 维修", f.object.errors[:reason].first do
    = f.select :reason, options_from_collection_for_select(Reason.out.all, "reason", "reason", @balance.reason)

  #detail_reason
    - if @balance.detail_reason
      = render :partial => "admin/reasons/detail_reason", :locals => { :default_detail_reason => @balance.detail_reason, :reason => @balance.reason  }

  = control_group_helper "金额", "必须是数字，例如： 100, 888", f.object.errors[:amount].first do
    = f.text_field :amount, :class => "input-xxlarge"

  = control_group_helper "补充说明", "支出的补充说明，例如： 维修费用打折后1000", f.object.errors[:desc].first do
    = f.text_field :desc, :class => "input-xxlarge"

  .actions
    = f.submit '保存', :class => "btn btn-primary"
    = link_to "返回", admin_balances_path, :class => "btn"
