%legend 
  所有消息
  - if current_user.can_create_message?
    %span.pull-right
      = link_to icon_link(:plus) + "  新消息", new_admin_message_path

%table.table.table-stripped
  %thead
    %th 标题
    %th 发布日期
    %th 阅读人数
    %th

  - @messages.each do |message|
    %tr
      %td{:class => current_user.message_read?(message) ? "" : "message_title_red"}
        = link_to message.title, admin_message_path(message)
      %td= message.created_at.to_s(:human_zh_year)
      %td= message.message_users.readed.count
      %td
        - if current_user.can_create_message?
          = link_to icon_link(:search), edit_admin_message_path(message)


= paginate @messages
