%legend 
  货物列表


%table.table.table-stripped
  %tr
    %th Sender name
    %th Sender tel
    %th Receiver name
    %th Receiver tel
    %th Receiver address
    %th Fee
    %th Huowu name
    %th Huowu danwei
    %th Huowu amount
    %th Huowu beizhu
    %th Status
    %th Is paid
    %th Is daishouhuokuan
    %th Huowu cost
    %th Huowu baozhi
    %th Baozhi needed
    %th Daishouhuokuan fee
    %th

  - @shippings.each do |shipping|
    %tr
      %td= shipping.sender_name
      %td= shipping.sender_tel
      %td= shipping.receiver_name
      %td= shipping.receiver_tel
      %td= shipping.receiver_address
      %td= shipping.fee
      %td= shipping.huowu_name
      %td= shipping.huowu_danwei
      %td= shipping.huowu_amount
      %td= shipping.huowu_beizhu
      %td= shipping.status
      %td= shipping.is_paid
      %td= shipping.is_daishouhuokuan
      %td= shipping.huowu_cost
      %td= shipping.huowu_baozhi
      %td= shipping.baozhi_needed
      %td= shipping.daishouhuokuan_fee

