%legend 
  车辆
  %span.pull-right
    = link_to icon_link(:plus) + "  新车辆", new_admin_vehicle_path
%table.table.table-stripped
  %thead
    %th 牌照
    %th 型号
    %th 类型
    %th 提醒

  - @vehicles.each do |vehicle|
    %tr
      %td
        = link_to vehicle.paizhao, admin_vehicle_vehicle_reminds_path(vehicle)
      %td= vehicle.xinghao
      %td= vehicle.leixing
      %td= remind_helper(vehicle.remind_results.compact)

%h1
  %span.label.label-important 已经超期
  %span.label.label-warning 即将到期
  %span.label.label-default 无记录
