= render :partial => "admin/widgets/configuration_tab_bar", :locals => { :current_tab => "vehicles" }

%legend 
  车辆
  %span.pull-right
    = link_to icon_link(:plus) + "  新车辆", new_admin_vehicle_path
%table.table.table-stripped
  %thead
    %th 牌照
    %th 型号
    %th 类型
    %th

  - @vehicles.each do |vehicle|
    %tr
      %td= vehicle.paizhao
      %td= vehicle.xinghao
      %td= vehicle.leixing
