- if current_user.boss?
- else
  - if controller_name == "ship_ins"
    = link_to "收物流费", "#"
    = link_to "打印", "#"
    = link_to "查看", "#"
  - elsif controller_name == "ship_outs"
    = link_to "放件", "#"
    = link_to "收物流费", "#"
    = link_to "收货款", "#"
  - elsif controller_name == "shippings"

