%ul.nav.nav-tabs.nav-stacked
  %li.dashboard
    = link_to icon_link(:heart) + " 首页", admin_dashboard_path
  - if current_user.boss?
    %li.shippings
      = link_to icon_link(:heart) + " 物流管理", admin_shippings_path
    %li.balances
      = link_to icon_link(:heart) + " 支出管理", admin_balances_path
    %li.in_balances
      = link_to icon_link(:heart) + " 收入管理", admin_in_balances_path
    %li.reports
      = link_to icon_link(:heart) + " 报表管理", admin_reports_path
    %li.users
      = link_to icon_link(:heart) + " 用户管理", admin_users_path
    %li.configurations
      = link_to icon_link(:heart) + " 配置管理", admin_configuration_path

  - else
    - if current_user.caiwu_admin?
      %li.balances
        = link_to icon_link(:heart) + " 支出管理", admin_balances_path
      %li.in_balances
        = link_to icon_link(:heart) + " 收入管理", admin_in_balances_path
      %li.reports
        = link_to icon_link(:heart) + " 报表管理", admin_reports_path
    - if current_user.huozhan_admin?
      %li.ship_outs
        = link_to icon_link(:heart) + " 收件管理", admin_ship_outs_path
      %li.cargo_outs
        = link_to icon_link(:heart) + " 发货管理", admin_cargo_outs_path
      %li.cargo_ins
        = link_to icon_link(:heart) + " 收货管理", admin_cargo_ins_path
      %li.ship_ins
        = link_to icon_link(:heart) + " 放件管理", admin_ship_ins_path


