%ul.nav.nav-tabs.nav-stacked
  %li
    = link_to "首页", admin_dashboard_path
    = link_to "地点管理", admin_locations_path
    = link_to "用户管理", admin_users_path
    = link_to "线路管理", admin_routes_path
    = link_to "报表管理", admin_locations_path
