%ul.nav.nav-tabs.nav-stacked
  %li
    = link_to icon_link(:heart) + " 首页", admin_dashboard_path
    = link_to icon_link(:heart) + " 支出管理", admin_balances_path
    = link_to icon_link(:heart) + " 收入管理", admin_in_balances_path
    = link_to icon_link(:heart) + " 报表管理", admin_locations_path
    - if current_user.boss?
      = link_to icon_link(:heart) + " 用户管理", admin_users_path
      = link_to icon_link(:heart) + " 地点管理", admin_locations_path
      = link_to icon_link(:heart) + " 线路管理", admin_routes_path
      = link_to icon_link(:heart) + " 支出类型", admin_out_reasons_path
      = link_to icon_link(:heart) + " 收入类型", admin_reasons_path
