!!! 5
%html
  %head
    %title= Setting.site_name
    = stylesheet_link_tag "application", :media => "all" 
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .container#header
      %h1= Setting.site_name
      %ul.nav.pull-right
        - if user_signed_in?
          %li= link_to current_user.name, admin_dashboard_path
          %li= link_to "退出系统", destroy_user_session_path, :method => :delete



    .container-fluid#body
      .row-fluid
        .span2
          = render :partial => "layouts/sidebar"
        .span10
          = yield
    
    #footer.footer
      %p
        = Setting.site_name
        @2013
      %p 
        由cming.xu@gmail.com制作, 有问题请点击

        = link_to "这里", new_bug_path
    
    - if Rails.env.development?
      = render :partial => "layouts/user_list"
