!!! 5
%html
  %head
    %title= Setting.site_name
    = stylesheet_link_tag "application", :media => "all" 
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    - if Setting.easy_login_enable
      = render :partial => "layouts/user_list"
    .container#header
      %h1= Setting.site_name
      %ul.nav.pull-right
        %li= link_to "About", "/about"

    .container-fluid#body
      .row-fluid
        #user_agent_warnning
        .span12
          = yield
    
    #footer.footer
      %p
        = Setting.site_name
        @2013
      %p 
        由cming.xu@gmail.com制作

:javascript
  $(document).ready(function(){
    if(!navigator.userAgent.match(/Chrome/)){
      var user_agent_suggestion = "<div class='alert alert-info'>为了达到更好的显示效果， 推荐您使用"
        + "<a href='http://www.google.cn/intl/zh-CN/chrome/browser/?installdataindex=chinabookmarkcontrol&brand=CHUN' class='label' target='_blank'>Chrome浏览器</a></div>";
        $("#user_agent_warnning").html(user_agent_suggestion);
      }
      });

